<div id="faq">
  <h1>FAQ</h1>
  <p class="question">Can you add links for me to view the episodes in my Queue?</p>
  <p class="answer">No.</p>

  <p class="question">Can you integrate with this other service I use?</p>
  <p class="answer">No.</p>

  <p class="question">Can you send me an email when a new episode is aired?</p>
  <p class="answer">No.</p>

  <p class="question">My favorite show isn't available, can you add it?</p>
  <p class="answer">No.</p>

  <p class="question">Can I request new features?</p>
  <p class="answer">No.</p>
</div>