<h1>Terms of Service</h1>
<p>Effective October 1, 2012</p>

<p>PLEASE READ THESE TERMS OF USE ("AGREEMENT" OR "TERMS OF USE") CAREFULLY BEFORE USING THE SERVICES OFFERED BY QUEUERUNNER. ("QUEUERUNNER"). THIS AGREEMENT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE AT HTTP://WWW.QUEUERUNNER.COM (THE "SITE") AND THE SERVICE OWNED AND OPERATED BY QUEUERUNNER (COLLECTIVELY WITH THE SITE, THE "SERVICE"). BY USING THE SITE OR SERVICE IN ANY MANNER, INCLUDING BUT NOT LIMITED TO VISITING OR BROWSING THE SITE, YOU AGREE TO BE BOUND BY THIS AGREEMENT. THIS AGREEMENT APPLIES TO ALL USERS OF THE SITE OR SERVICE, INCLUDING USERS WHO ARE ALSO CONTRIBUTORS OF CONTENT, INFORMATION, AND OTHER MATERIALS OR SERVICES ON THE SITE.</p>

<h2>Acceptance of Terms</h2>
<p>The Service is offered subject to acceptance without modification of all of the terms and conditions contained herein (the "Terms of Use"), which terms also incorporates QueueRunner's Privacy Policy, QueueRunner's Copyright Policy and all other operating rules, policies and procedures that may be published from time to time on the Site by QueueRunner, each of which is incorporated by reference and each of which may be updated by QueueRunner from time to time without notice to you. In addition, some services offered through the Service may be subject to additional terms and conditions promulgated by QueueRunner from time to time; your use of such services is subject to those additional terms and conditions, which are incorporated into these Terms of Use by this reference.</p>

<h2>Account Terms</h2>

<ul>
  <li>You must be 13 years or older to use this Service.</li>
  <li>You must be a human. Accounts registered by "bots" or other automated methods are not permitted.</li>
  <li>You must provide a valid email address, and any other information requested in order to complete the signup process.</li>
  <li>Your login may only be used by one person - a single login shared by multiple people is not permitted.</li>
  <li>You are responsible for maintaining the security of your account and password. QueueRunner cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
  <li>You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).</li>
  <li>One person or legal entity may not maintain more than one free account.</li>
  <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).</li>
</ul>

<h2>Payment Terms</h2>

<p>QueueRunner is a free app.</p>

<h2>Modifications to the Service</h2>

<p>QueueRunner reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</p>

<p>QueueRunner shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.</p>

<h2>Copyright and Content Ownership</h2>

<p>We claim no intellectual property rights over the material provided by the Service. All television show names are copyright of their respective owners. All content is provided by the Trakt.tv API.</p>

<h2>General Conditions</h2>

<ul>
<li>Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis.</li>

<li>Technical support is only available via email. Support is only available in English.</li>

<li>You understand that QueueRunner uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>

<li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, QueueRunner, or any other QueueRunner service.</li>

<li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by QueueRunner.</li>

<li>You understand that the technical processing and transmission of the Service, including your Content, may be transfered unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</li>

<li>QueueRunner does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</li>

<li>You expressly understand and agree that QueueRunner shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if QueueRunner has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>

<li>The failure of QueueRunner to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and QueueRunner and govern your use of the Service, superseding any prior agreements between you and QueueRunner (including, but not limited to, any prior versions of the Terms of Service). You agree that these Terms of Service and Your use of the Service are governed under Indiana law.</li>
<br/>
<p class="lead">Questions about the Terms of Service should be sent to: support@queuerunner.com</p>