<div class="queue">
  <div class="row-fluid">
    <div class="span12">
      <h2 class="section-title">
        <span>Your Queue</span>
        <div class="pull-right">
          <%= link_to "Add Show", new_show_path, :class => "btn btn-small btn-primary" %>
        </div>
      </h2>
      
      <% if @unwatched.any? %>
        <% @unwatched.each do |w| %>
          <%= div_for(w) do %>
            <%= render :partial => "episode", :locals => { :episode => w.episode, :id => w.id } %>
          <% end %>
        <% end %>
      <% else %>
        <div class="episode-row">
          <h1 style="font-weight: normal">
            <b>You've reached TV Zero&trade;</b> 
            <span class="pull-right">Time to go outside. Or add more shows.</span>
          </h1>
        </div>
      <% end %>
    </div>
  </div>
</div>