@import "colors";

#signup-form, #login-form, #forgot-form, #new-show {
  padding-bottom: 0px;
  padding-top: 70px;

  margin: 0 auto;
  width: 250px;

  form {
    margin-bottom: 0px;
  }

  .alert {
    text-shadow: none;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding: 4px;
  }

  .form-actions {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .form-inputs {
    margin: 0px 15px 15px 15px;
  }

  .string, .password {
    width: 206px;
  }

  p.friendly {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
  }

  #foo {
    width: 220px;
    padding: 4px 0px;
    line-height: 20px;
  }

  .account-links {
    padding-top: 10px;
    border-top: 1px solid darken(whiteSmoke, 10%);
    margin-top: 15px;
    width: 220px;

    a:hover, a:visited, a:link, a:active {
      text-decoration: none;
    }

    a:hover {
      border-bottom: 1px dotted darken($blue-steel, 15%);
    }

    a {
      border-bottom: 1px dotted $blue-steel;
    }
  }
}

#marketing {
  h1 {
    text-align: center;
    padding: 20px 0px;
  }

  h2 {
    text-align: center;
    background-color: $blue-steel;
    color: whiteSmoke;
    width: 200px;
    font-size: 24px;
  }

  p {
    font-size: 13px;
  }
}

#faq {
  padding-top: 10px;

  .question {
    font-weight: bold;
    font-size: 16px;
  }
}