@import "colors";

#signup-dropdown, #login-dropdown {
  margin-bottom: 0px;
  padding-bottom: 0px;

  form {
    margin-bottom: 0px;
  }
  
  #user_email {
    width: 185px;
  }

  .form-actions {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .form-inputs {
    margin: 0px 15px 15px 15px;
  }

  p.friendly {
    font-size: 14px;
    line-height: 28px;
    border-bottom: 1px solid darken(whiteSmoke, 10%);
  }
}
