@import "colors";

.queue {
  ul {
    margin: 0px;
  }  
}

.alert-small {
  width: 250px;
  display: inline-block;
  height: 28px;
  padding: 0px 14px;
}

.section-title {
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  height: 30px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: darken(whiteSmoke, 10%);
  border-bottom: 1px solid darken(whiteSmoke, 10%);

  span {
    text-transform: uppercase;
    position: relative;
    bottom: -2px;
  }

  h2 {
    width: 204px;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    margin: 0px;
    text-transform: uppercase;
  }

  .btn {
    width: 100px;
    margin: 0px 0px 0px 10px;
  }
}

.episode-row {
  border-bottom: 1px solid darken(whiteSmoke, 10%);

  h1 {
    font-size: 20px;
    line-height: 25px;
  }

  h2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;

    p {
      position: relative;
      bottom: -3px;
    }
  }

  img {
    vertical-align: top;
  }
}