#show_title {
  margin-bottom: 0px;
}

#show_add_all {
  margin-bottom: 15px;
}

#show-list {
  
  h2 {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid darken(whiteSmoke, 10%);

    i {
      position: relative;
      top: 5px;
    }
  }

  a.toggle-header {
    color: #333;
  }
}

.episode-list {

  .row-fluid {
    border-bottom: 1px solid darken(whiteSmoke, 10%);
  }

  h3 {
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
  }
}

.watched {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#new-show {
  .checkbox {
    font-size: 13px;
  }
}