<div class="section-title">
  <div class="row-fluid">
    <h2>Your Shows</h2>

    <div class="pull-right">
      <%= link_to new_show_path, :class => "btn btn-small btn-primary" do %>
        <i class="icon-plus-sign icon-white"></i> Track a Show
      <% end %>
    </div>
  </div>
</div>

<div id="show-list">
  <% @shows.each do |show| %>
    <div class="row-fluid show-title">
      <div class="span9">
        <h2><%= show.name %></h2>
      </div>
      <div class="span3">
        <div class="pull-right">
          <%= link_to "All Episodes", show, :class => "btn btn-small btn-steel btn-steel" %>
        </div>
      </div>
    </div>
  <% end %>
</div>