<div id="new-show">
<%= simple_form_for(:show, :url => '/shows') do |f| %>
  <div class="form-inputs">
    <div class="alert alert-info">
      What are you watching?
    </div>

    <%= f.input :title, 
      :autofocus => true,
      :required => true,
      :placeholder => "The Wire",
      :error => false,
      :label => false %>

    <div class="control-group string required">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name="show[seen_all]" id="show_seen_all"> I've seen all aired episodes
        </label>
      </div>
    </div>

    <%= f.button :submit, "Add Show", :class => "btn btn-primary btn-small", 
          :id => "foo" %>
  </div>
<% end %>
</div>